.hospital-block {
	margin-bottom: 30px;
}
.wrap {
	margin-top: 50px;
}
@media (min-width: 320px) and (max-width: 767px){
	#context .row {
		margin-left: 0;
		margin-right: 0;
	}
	.wrap {
		margin-top: 10px;
	}
	.hospital-block img{
		padding: 10px;
	}
	.hospital-block h3{
		font-size: 120%;
	}
	.hospital-block table{
		font-size: 90%;
	}
	.hospital-block .hos-img img {
		width: 100%;
	}
	.hospital-block .hos-info {
		width: 100%;
		padding: 0 10px 10px 10px;
	}
	.hospital-block .hos-info h3{
		margin-bottom: 10px;
	}
	.hospital-block table td, .hospital-block table th {
	    padding: 5px 0px;
	}
}
