<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎-海外生育权威机构 | 泰国试管婴儿 | 三美泰独家授权</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎医疗海外试管婴儿,泰国权威医院,三美泰独家授权。运用顶尖基因筛查技术,大大降低流产率。第三代aCGH\PGD\PGS技术,筛查300种以上遗传疾病,助您好孕……">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../js/lib/html5shiv.min.js"></script>
          <script src="../js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body onload="anchorLink()">
        <div id="page-about">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" >
                            <img alt="51二胎" src="../img/logo-white.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="register"> 
                            <li><a href="register.html">注册&nbsp;&nbsp;|</a></li>
                            <li><a href="login.html">&nbsp;&nbsp;登录</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="loged" style="display: none;"> 
                            <li><a id="my-name" href="my.html" style="color: #fff;"></a></li>
                            <li><div class="avatar"><img id="my-avatar" src="../img/avatar.png" width="40px"><div class="down-triangle"></div></div></li>
                        </ul>
                        <div class="container" style="position: absolute;">
                            <div class="down-menu">
                                <div class='up-triangle'></div>
                                <a href='my.html#order' onclick="anchorLink()">我的订单</a>
                                <a href='my.html#account' onclick="anchorLink()">账户设置</a>
                                <a onclick="quit()">退出</a>
                            </div>
                        </div>
                        <div class="down-menu">
                            <div class='up-triangle'></div>
                            <a href='../view/my.html'>我的订单</a>
                            <a href='../index.html'>账户设置</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="main-nav">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li class="active"><a href="about.html">我们</a></li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs" id="nav-list">
                            <li><a href="../index.html">首页</a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li class="active"><a href="about.html">我们</a></li>
                            <li class="sm-view-hidden"><a href="register.html">注册</a></li>
                            <li class="sm-view-hidden"><a href="login.html">登录</a></li>
                            <li class="sm-view-show" style="display:none"><a href="my.html">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="container wrap">
                <div class="left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#about" class="active" aria-controls="about" role="tab" data-toggle="tab">关于我们</a></li>
                        <li role="presentation"><a href="#serveRange" aria-controls="serveRange" role="tab" data-toggle="tab">试管婴儿业务咨询范围</a></li>
                        <li role="presentation"><a href="#employ" aria-controls="employ" role="tab" data-toggle="tab">招聘职位</a></li>
                        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系我们</a></li>
                        <li role="presentation"><a href="#question" aria-controls="question" role="tab" data-toggle="tab">常见问题</a></li>
                    </ul>
                </div>
                <div class="right" style="min-height: 480px;">
                    <div class="tab-content">
                        <article role="tabpanel" class="tab-pane fade in active" id="about">
                            <h3>关于我们</h3>
                            <section class="col-xs-12">
                                <p>51二胎隶属于广州乐生医疗服务有限公司，广州乐生医疗服务有限公司是一家朝气蓬勃的公司，我们打造了富有跨境医疗经验的新团队，坚持以专业性、科学性、精准性为宗旨，架通中国父母与泰国顶级医院之间的桥梁，为广大中国客户提供泰国试管婴儿服务。公司总部位于广州，同时在泰国首都曼谷斥资千万以上，精心打造了专属51二胎品牌的别墅级接待中心；作为目前国内一家在泰国拥有千万级接待中心的公司，显示出雄厚过人的行内实力。自公司成立以来，乐生医疗与各大JCI认证医院保持紧密合作，协助客户获得来自曼谷医院、康民国际医院、WMC、SFC、杰特宁研究所等著名医疗机构的生殖服务，跨境生育，一步到位，专项服务，让您最终拥有期待中的可爱宝宝。</p>
                                <h4>我们真诚向您保证——</h4>
                                <!-- <p>专业受孕——男女胎、双胞胎、龙凤胎合法选择，泰国第三代PGD试管婴儿一条龙服务<br/> -->
                                诚信交易——性价比极高的价格，规范的服务合同签署，完善的安全法律保障<br/>
                                对话如流——资深医务翻译全程医务陪同，资深生活翻译一对一服务<br/>
                                宾至如归——豪华专车接送、国际机票直航、全程28天入住五星级酒店or别墅级接待中心、中西泰三式高级营养餐随您心意，贴身打造医食住行一体化<br/>
                                瞻前顾后——受孕前的国内身体检查；受孕后长达一年的国内跟踪服务<br/>
                                <!-- 安心成行——随我们来，高级医院由你挑选；跟我们走，享受完美旅游体验<br/> -->
                                明白您的顾虑，绝不收取其他额外费用。<br/>
                                您顺利诞生的健康孩子就是我们最美妙的回报。<br/>
                                Le-Med是您的“孕”行小管家，只需一张合同，我们为您包办一切！</p>
                                <p>二胎福音，让您的家庭多一声笑语，为您的孩子添一个玩伴。</p>
                            </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade in active" id="serveRange">
                            <h3>试管婴儿业务咨询范围</h3>
                            <section class="col-xs-12">
                                <p>广州乐生医疗服务有限公司是一家专业的试管婴儿咨询服务机构，为您解决：哪家机构试管技术最强、哪里治疗费用性价比最高、如何安全完成生育心愿等最为关心的问题。</p>
                                <p>我们为因生育障碍而苦恼的客户提供"一站式"贴身管家服务。包括，治疗期间和前后的相关注意事项的咨询，介绍专业的心理咨询团队，联系海内外一流的试管婴儿服务机构，提供治疗期间在当地的吃住交通等贴身的管家式服务，协助客户与试管婴儿服务机构之间的沟通及各种程序办理等事宜，为客户治疗提供最安心的环境和服务。</p>
                            </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="employ">
                            <h3>招聘职位</h3>
                            <section class="col-xs-12">
                                <h4>医学顾问</h4>
                                <p>临床学毕业的研究生，2年以上内科/大内科相关工作经验;<br/>热爱医学关爱患者，能为客户提供简单的医学问诊及咨询服务；<br/>有良好的沟通能力，有耐心更细心；<br/>英语达人，翻译高手，能够理解并书写英文病例，为客户讲解会诊报告。</p>
                                <h4>电话客服</h4>
                                <p>声音甜美或有磁性；<br/>普通话流利，有较强的服务意识；<br/>具有应变能力，能够灵活应对客户提问；<br/>有医疗或私人旅行电话销售相关经验者优先。</p>
                                <h4>健康频道编辑</h4>
                                <p>3年以上工作经验，有健康相关专业或者工作背景；<br/>爱健康生活，并希望将健康的生活理念和知识带给更多的人；<br/>有互联网思维，策划能力强，文字功底扎实，擅长写作，如果你还会互联网编辑常用的那些工具更佳。<br/>简历投递至邮箱</p>
                            </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="contact">
                            <h3>联系我们</h3>
                            <section class="col-xs-12">
                                <h5><span class="title">总部地址：</span>广州越秀区德政北路538号达信大厦15楼</h5>
                                <h5><span class="title">客服电话：</span>400-136-5151</h5>
                                <h5><span class="title">客服QQ：</span>2532535151</h5>
                                <h5><span class="title">客服QQ：</span>2602605151</h5>
                            </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="question">
                            <h3>常见问题</h3>
                            <section class="col-xs-12">
                                <h5>Q：什么样的人群适合做试管婴儿？</h5>
                                <p>A：人工授精无效者、子宫不孕救治无效者、子宫内膜异位症久治无效者、严重输卵管疾病久治无效者、输精管缺失者、有家族遗传病需要做基因筛选者、卵泡不破裂综合征、原因不明性不孕症状者、有选择性生殖者</p>
                                <h5>Q：做试管婴儿第一次检查什么时间去最好？</h5>
                                <p>A：避开经期，夫妻同到医院检查。检查前三天不要有性生活。</p>
                                <h5>Q：想做试管婴儿月经的第几天去做检查最好？</h5>
                                <p>A：月经第二天。方便全面检查卵巢、卵泡功能以及其他检测。</p>
                                <h5>Q：试管婴儿费用主要包括哪些？</h5>
                                <p>A：第一阶段：试管婴儿治疗前的检查费用、第二阶段：刺激卵泡发育的费用、第三阶段：取卵和实验室项目费用、其他：助孕药物费用。</p>
                                <h5>Q：试管婴儿的治疗周期从什么时候开始？</h5>
                                <p>A：在月经前一两天乘坐飞机抵达泰国，月经第一天要在泰国医院。</p>
                                <h5>Q：试管婴儿的治疗周期要多久？</h5>
                                <p>A：根据51二胎套餐安排，治疗周期为26天，套餐周期为28天。</p>
                                <h5>Q：为什么选择去泰国做试管婴儿？</h5>
                                <p>A：因为泰国和美国的试管婴儿水平都处于世界顶尖水平。美国的试管婴儿成功率为50%~65%，而泰国的成功率紧随其后为50%~60%。但是相比较而言，无论是时间成本还是资金成本，泰国都远远低于美国，是你更实惠的选择。</p>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
            <div class="container" id="customer-service" align="center" style="background-color: #fff;">
                <img src="../img/logo-white.png">
                <h3>在线客服</h3>
                <div style="padding: 0 15px;">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes">客服01号</a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2602605151&site=qq&menu=yes">客服02号</a></li>
                </ul>
                </div>
                <p class="color-gray">客服热线</p>
                <p class="color-blue">400-136-5151</p>
            </div>
            <div id="mob-ctm-svc">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes"><img src="../img/pic-ctm-svc.png"></a>
            </div>
            <footer>
                <div class="footer-top container">
                    <div class="col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#about" onclick="curAnchorLink('about')">51二胎简介</a></li>
                            <li><a href="about.html#contact" onclick="curAnchorLink('contact')">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#employ" onclick="curAnchorLink('employ')">招聘职位</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>网站条款</h4>
                        <ul class="list-unstyled">
                            <li><a href="terms.html#member">会员条款</a></li>
                            <li><a href="terms.html#copyright">版权声明</a></li>
                            <li><a href="terms.html#relief">免责声明</a></li>
                            <li><a href="terms.html#web">网站声明</a></li>
                            <li><a href="terms.html#secret">隐私条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="padding-right:0">
                        <h4>联系我们</h4>
                        <ul class="list-unstyled">
                            <li><a style="cursor: default;">电话 400-136-5151</a></li>
                            <li><a style="cursor: default;">QQ 2532535151</a></li>
                            <li><a style="cursor: default;">QQ 2602605151</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3 footer-qrcode">
                        <h4>微信公众号</h4>
                        <img class="qrcode-img" src="../img/qrcode.jpg">
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="brand-info">
                            <img src="../img/logo-white.png">
                            <p>Copyright &copy; 2015 - 2016, 51二胎&reg;, All Rights Reserved. <a href="http://www.miibeian.gov.cn/">粤ICP备16027439号</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        
    </body>
</html>