<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎-海外生育权威机构 | 泰国试管婴儿 | 三美泰独家授权</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎医疗海外试管婴儿,泰国权威医院,三美泰独家授权。运用顶尖基因筛查技术,大大降低流产率。第三代aCGH\PGD\PGS技术,筛查300种以上遗传疾病,助您好孕……">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../js/lib/html5shiv.min.js"></script>
          <script src="../js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/newsdetail.css">
    </head>
    <body>
        <div id="page-casedetail">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" >
                            <img alt="51二胎" src="../img/logo-white.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="register"> 
                            <li><a href="register.html">注册&nbsp;&nbsp;|</a></li>
                            <li><a href="login.html">&nbsp;&nbsp;登录</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="loged" style="display: none;"> 
                            <li><a id="my-name" href="my.html" style="color: #fff;"></a></li>
                            <li><div class="avatar"><img id="my-avatar" src="../img/avatar.png" width="40px"><div class="down-triangle"></div></div></li>
                        </ul>
                        <div class="container" style="position: absolute;">
                            <div class="down-menu">
                                <div class='up-triangle'></div>
                                <a href='my.html#order' onclick="anchorLink()">我的订单</a>
                                <a href='my.html#account' onclick="anchorLink()">账户设置</a>
                                <a onclick="quit()">退出</a>
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="main-nav">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li class="active"><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs" id="nav-list">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li class="active"><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                            <li class="sm-view-hidden"><a href="view/register.html">注册</a></li>
                            <li class="sm-view-hidden"><a href="view/login.html">登录</a></li>
                            <li class="sm-view-show" style="display:none"><a href="view/my.html">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div id="context"></div>
            <div class="container" id="customer-service" align="center" style="background-color: #fff;">
                <img src="../img/logo-white.png">
                <h3>在线客服</h3>
                <div style="padding: 0 15px;">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes">客服01号</a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2602605151&site=qq&menu=yes">客服02号</a></li>
                </ul>
                </div>
                <p class="color-gray">客服热线</p>
                <p class="color-blue">400-136-5151</p>
            </div>
            <div id="mob-ctm-svc">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes"><img src="../img/pic-ctm-svc.png"></a>
            </div>
            <footer>
                <div class="footer-top container">
                    <div class="col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#about">51二胎简介</a></li>
                            <li><a href="about.html#contact">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#employ">招聘职位</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>网站条款</h4>
                        <ul class="list-unstyled">
                            <li><a href="terms.html#member">会员条款</a></li>
                            <li><a href="terms.html#copyright">版权声明</a></li>
                            <li><a href="terms.html#relief">免责声明</a></li>
                            <li><a href="terms.html#web">网站声明</a></li>
                            <li><a href="terms.html#secret">隐私条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="padding-right:0">
                        <h4>联系我们</h4>
                        <ul class="list-unstyled">
                            <li><a style="cursor: default;">电话 400-136-5151</a></li>
                            <li><a style="cursor: default;">QQ 2532535151</a></li>
                            <li><a style="cursor: default;">QQ 2602605151</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3 footer-qrcode">
                        <h4>微信公众号</h4>
                        <img class="qrcode-img" src="../img/qrcode.jpg">
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="brand-info">
                            <img src="../img/logo-white.png">
                            <p>Copyright &copy; 2015 - 2016, 51二胎&reg;, All Rights Reserved. <a href="http://www.miibeian.gov.cn/">粤ICP备16027439号</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>



        <script id="detail" type="text/x-handlebars-template">
            <div class="container bread-nav">
                <ol class="breadcrumb">
                    <li><a href="../index.html">51二胎</a></li>
                    <li><a href="case.html">案例</a></li>
                    <li class="active">{{title}}</li>
                </ol>
            </div>
            <div class="container" id="whole-art">
                <div class="row" id="art-title">
                    <h3>{{title}}</h3>
                    <div class="color-gray" style="margin-bottom: 15px;">
                        <span class="publish-time" style="padding-right: 40px;">{{publicTime}}</span>
                        <span>作者 </span>
                        <span class="writer">51二胎</span>
                    </div>
                </div>
                <div class="left">
                    <img src={{imageUrl}} alt="新闻" width="100%">
                    <article id="article-box"></article>
                    <div class="news-footer" id="news-block">
                    </div>
                </div>
                <div class="right">
                    <div class="service">
                        <img width="100%" src="../img/pic-case-contact.png">
                    </div>
                    <h4>推荐文章</h4>
                    <ul style="padding-left: 20px;" id="right-articles">
                    </ul>
                </div>
            </div>
        </script>
        <script id="thr-detail" type="text/x-handlebars-template">
            {{#data}}
            <a class="news-footer-block go-detail" f-target="newsdetail.html" id={{contentId}}>
                <img src={{imageUrl}} width="100%">
                <div>{{title}}</div>
            </a>
            {{/data}}
        </script>
        <script id="r-title" type="text/x-handlebars-template">
            {{#items}}
            <li><a class="go-detail" f-target="newsdetail.html" id={{contentId}}>{{title}}</a></li>
            {{/items}}
        </script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript">
            $(function(){
                // 填充文章模板
                goDetail();
                var id = urlUtil.getQueryString("itemId");
                if (id) {
                    articleDetailApi(id,function(res) {
                        if (res.code === '200' && res.data) {
                            var detail = $("#detail").html();
                            var template = Handlebars.compile(detail);
                            var html = template(res.data);
                            $("#context").html(html);
                            $("#article-box").html(res.data.body);
                            goDetail();
                            // 获取随机3个文章
                            randomArticleApi(res.data.contentType,res.data.contentId,function(res) {
                                if (res.code === '200' && res.data) {
                                    var rdmDetail = $("#thr-detail").html();
                                    var rTemplate = Handlebars.compile(rdmDetail);
                                    var rHtml = rTemplate(res);
                                    $("#news-block").html(rHtml);
                                    goDetail();
                                }
                            });
                            // 右边列表
                            articleApi(res.data.contentType,function(res){
                                if(res.code === '200' && res.data){
                                    // 去掉本身取最大10个。
                                    for(i=0;i<res.data.items.length;i++) {
                                        if (res.data.items[i].contentId == id){
                                            res.data.items.splice(i,1);
                                        }
                                    }
                                    var rTitle = $("#r-title").html();
                                    var rtTemplate = Handlebars.compile(rTitle);
                                    var rtHtml = rtTemplate(res.data);
                                    $("#right-articles").html(rtHtml);
                                    goDetail();
                                }
                            });
                        }
                    });
                }
            });
        </script>
    </body>
</html>