<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎-海外生育权威机构 | 泰国试管婴儿 | 三美泰独家授权</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎医疗海外试管婴儿,泰国权威医院,三美泰独家授权。运用顶尖基因筛查技术,大大降低流产率。第三代aCGH\PGD\PGS技术,筛查300种以上遗传疾病,助您好孕……">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../js/lib/html5shiv.min.js"></script>
          <script src="../js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body onload="anchorLink()">
        <div id="page-question">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" >
                            <img alt="51二胎" src="../img/logo-white.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="register"> 
                            <li><a href="register.html">注册&nbsp;&nbsp;|</a></li>
                            <li><a href="login.html">&nbsp;&nbsp;登录</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="loged" style="display: none;"> 
                            <li><a id="my-name" href="my.html" style="color: #fff;"></a></li>
                            <li><div class="avatar"><img id="my-avatar" src="../img/avatar.png" width="40px"><div class="down-triangle"></div></div></li>
                        </ul>
                        <div class="container" style="position: absolute;">
                            <div class="down-menu">
                                <div class='up-triangle'></div>
                                <a href='my.html#order' onclick="anchorLink()">我的订单</a>
                                <a href='my.html#account' onclick="anchorLink()">账户设置</a>
                                <a onclick="quit()">退出</a>
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="main-nav">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs" id="nav-list">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                            <li class="sm-view-hidden"><a href="view/register.html">注册</a></li>
                            <li class="sm-view-hidden"><a href="view/login.html">登录</a></li>
                            <li class="sm-view-show" style="display:none"><a href="view/my.html">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="container wrap">
                <div class="left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#whats" aria-controls="whats" role="tab" data-toggle="tab">什么是试管婴儿</a></li>
                        <li role="presentation"><a href="#tech" aria-controls="tech" role="tab" data-toggle="tab">试管婴儿技术</a></li>
                        <li role="presentation"><a href="#who" aria-controls="who" role="tab" data-toggle="tab">适应人群</a></li>
                    </ul>
                </div>
                <div class="right">
                    <div class="tab-content">
                        <article role="tabpanel" class="tab-pane fade in active" id="whats">
                                <h3>什么是试管婴儿</h3>
                                <section>
                                    <p>目前，试管婴儿技术的应用越来越广泛，第三代PGD技术更是发挥其胚胎植入前遗传学诊断的优势，为全世界众多不孕不育的夫妻带来了宝宝福音。这一技术的原理，即是将男性的精子和女性的卵子分别取出体外，在实验室中人为地帮助其完成受精过程，然后再将受精卵移植到子宫内着床、再孕育为宝宝的技术。接下来，我们就与患者一起来了解一下它的实施过程——</p>
                                    <h4>1.  促排卵治疗</h4>
                                    <p>并不是所有的卵子都能成功受精，也不是所有受精卵都能成功发育成有活力的胚胎。因此，需要一次性从女性体内获得多枚卵子，才能保证有能够移植的胚胎，这就需要对女性进行促排卵治疗。</p>
                                    <h4>2.  取卵</h4>
                                    <p>医生通过B超技术，使用取卵针通过阴道穿刺成熟的卵泡，吸取卵子。取卵通常在静脉麻醉状态下进行，因此，女性在取卵过程中并不会感到痛苦。</p>
                                    <h4>3.  体外受精</h4>
                                    <p>在女性取卵的同时，对男性进行取精。取出的精液需要在经过特殊的洗涤过程后，将精卵放在特殊的额培养基中，促进精卵的自然结合。这就是所谓的常规受精方式。</p>
                                    <h4>4.  胚胎移植</h4>
                                    <p>受精后数日，使用一根很细的胚胎移植管，将最优质的胚胎通过子宫颈移植到母体子宫内。综合考虑患者年龄、胚胎质量等因素，确定移植胚胎的个数，通常移植2-3个胚胎。近年来，为了降低多胎妊娠率，一些中心选择单胚胎移植，或最多移植2个胚胎。</p>
                                    <h4>5.  黄体支持</h4>
                                    <p>由于GnRH激动剂和促排卵药物等药物的食用，以及取卵造成的卵泡颗粒细胞的丢失，不少女性在取卵周期中常出现黄体功能不足的情况，一般需要使用黄体酮或促绒毛膜性腺激素进行黄体支持。如果患者没能成功妊娠，就停用黄体酮，等待月经来潮。如果成功妊娠就继续使用黄体酮，一般黄体酮支持需要持续到B超看到胎心后3周。</p>
                                    <h4>6.  妊娠的确定</h4>
                                    <p>在胚胎移植后14天进行HCG检查，确定是否妊娠。在胚胎移植后21天再次进行HCG检查，以了解胚胎发育的情况。在胚胎移植后30天进行阴道超声检查，确定是否宫内妊娠，有无胎心搏动。</p>
                                </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="tech">
                                <h3>泰国的第三代试管婴儿技术</h3>
                                <section>
                                    <p>第三代试管婴儿技术，是在第一代和第二代完成了体外受精的前提下，把受精卵在体外培养2天后，见胚胎的一个卵球用显微操作技术分离出来做基因活染色体诊断，而胚胎继续培养。在胚胎继续培养2天后，将基因或染色体检查正常的胚胎移植到子宫内。</p>
                                    <p>第三代试管婴儿也称胚胎植入前遗传学诊断（PGD），指在IVF-ET的胚胎移植前，取胚胎的遗传物质进行分析，诊断是否有异常，筛选健康胚胎移植，防止遗传病传递的方法。</p>
                                    <p>这种符合优生条件的胚胎是这样被筛选出来的：人类某些遗传病——如X性连锁疾病——是有选择地在不同性别的后代身上发病的。以血友病的男性患者为例，一般来说他的儿子是正常的，而女儿正常与携带血友病基因的概率各占一半——血友病基因携带者一般不会发病。假若血友病患者是女性，那她的儿子会发病，而她的女儿携带正常或血友病基因的概率各占一半。营养不良、色盲等遗传病的优生原理与血友病相同，只要了解这种遗传特征，就可以对试管培育的胚胎细胞进行基因检测，选择无致病基因的胚胎植入子宫，从而避免遗传病孩出生。人类很多遗传性疾病都可以使用这种PGD方法避免遗传给后代，譬如地中海贫血、先天愚型等等。</p>
                                    <p>目前，泰国第三代试管婴儿技术仅次于美国，在亚洲排名第一。泰国第一个试管婴儿诞生于1989年8月15日，经过二十多年的发展，医生常常到海外进行学术交流学习，不断地钻研技术，如今该辅助生殖技术已成熟。</p>
                                    <p>受精后数日，使用一根很细的胚胎移植管，将最优质的胚胎通过子宫颈移植到母体子宫内。综合考虑患者年龄、胚胎质量等因素，确定移植胚胎的个数，通常移植2-3个胚胎。近年来，为了降低多胎妊娠率，一些中心选择单胚胎移植，或最多移植2个胚胎。</p>
                                    <p>泰国试管婴儿成功率世界领先，高达50%-60%，仅次于50%-65%的美国。然而与美国相比，前往泰国的费用远远低于美国，这使许多中薪阶级家庭拥有了获得孩子的机会。</p>
                                    <p>试管婴儿技术至今已发展了三十多年，但很多国家的法律上都禁止胚胎移植前性别筛选，只有泰国和美国没有明确的法律规定。因此，在泰国进行胚胎性别筛选属于合法。</p>
                                </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="who">
                                <h3>哪些人适合做试管婴儿？</h3>
                                <section>
                                    <h4>1.  卵子输出障碍</h4>
                                    <p>女方各种因素导致的卵子运输障碍，如各种原因造成的输卵管缺损、梗阻及病变等。</p>
                                    <h4>2.  排卵障碍</h4>
                                    <p>如内分泌因素或机械性因素造成的卵泡未破裂黄素化(LuF)、多囊卵巢综合征等。</p>
                                    <h4>3.  子宫内膜内异症</h4>
                                    <p>子宫内膜异位症、子宫腺肌症。</p>
                                    <h4>4.  男方精子异常</h4>
                                    <p>男方少、弱精子症，一般认为精液中含有20×1066／ml～100×106／ml精子为有生育力正常范围，低于20x106／ml为少精子症。精子活力正常值是射精后0．5～3小时内的正常精液标本中应有50％或更多的中等到活跃的前向运动精子，低于此值为活力差。</p>
                                    <h4>5.  免疫性不孕</h4>
                                    <p>如抗精子抗体阳性者、抗子宫内膜抗体等。</p>
                                    <h4>6.  不明原因性不育</h4>
                                    <p>不明原因的不育经其他方法治疗后无效者。</p>
                                    <h4>7.  其他</h4>
                                    <p>女方卵巢功能衰竭患者可通过卵子赠送，男方无精症患者可通过精子赠送或接受胚胎赠送助孕。</p>
                                    <h4>8.  有性别选择需求的人群</h4>
                                    <p>对男胎、女胎、龙凤胎、双胞胎、多胞胎等有选择需求者。</p>
                                </section>
                        </article>
                    </div>
                </div>
            </div>
            <div class="container" id="customer-service" align="center" style="background-color: #fff;">
                
                <img src="../img/logo-white.png">
                <h3>在线客服</h3>
                <div style="padding: 0 15px;">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes">客服01号</a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2602605151&site=qq&menu=yes">客服02号</a></li>
                </ul>
                </div>
                <p class="color-gray">客服热线</p>
                <p class="color-blue">400-136-5151</p>
            </div>
            <div id="mob-ctm-svc">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes"><img src="../img/pic-ctm-svc.png"></a>
            </div>
            <footer>
                <div class="footer-top container">
                    <div class="col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#about">51二胎简介</a></li>
                            <li><a href="about.html#contact">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#employ">招聘职位</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>网站条款</h4>
                        <ul class="list-unstyled">
                            <li><a href="terms.html#member">会员条款</a></li>
                            <li><a href="terms.html#copyright">版权声明</a></li>
                            <li><a href="terms.html#relief">免责声明</a></li>
                            <li><a href="terms.html#web">网站声明</a></li>
                            <li><a href="terms.html#secret">隐私条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="padding-right:0">
                        <h4>联系我们</h4>
                        <ul class="list-unstyled">
                            <li><a style="cursor: default;">电话 400-136-5151</a></li>
                            <li><a style="cursor: default;">QQ 2532535151</a></li>
                            <li><a style="cursor: default;">QQ 2602605151</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3 footer-qrcode">
                        <h4>微信公众号</h4>
                        <img class="qrcode-img" src="../img/qrcode.jpg">
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="brand-info">
                            <img src="../img/logo-white.png">
                            <p>Copyright &copy; 2015 - 2016, 51二胎&reg;, All Rights Reserved. <a href="http://www.miibeian.gov.cn/">粤ICP备16027439号</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        
    </body>
</html>