<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎-海外生育权威机构 | 泰国试管婴儿 | 三美泰独家授权</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎医疗海外试管婴儿,泰国权威医院,三美泰独家授权。运用顶尖基因筛查技术,大大降低流产率。第三代aCGH\PGD\PGS技术,筛查300种以上遗传疾病,助您好孕……">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../js/lib/html5shiv.min.js"></script>
          <script src="../js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <script src="../js/lib/jquery.min.js"></script>
        <script src="../js/lib/jquery.cityselect.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/data.js"></script>
        <script type="text/javascript" src="../js/config.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/sellerdetail.css">
    </head>
    <body>
        <div id="page-sellerdetail">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm">
                            <img alt="51二胎" src="../img/logo-white.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="register"> 
                            <li><a href="register.html">注册&nbsp;&nbsp;|</a></li>
                            <li><a href="login.html">&nbsp;&nbsp;登录</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="loged" style="display: none;"> 
                            <li><a id="my-name" href="my.html" style="color: #fff;"></a></li>
                            <li><div class="avatar"><img id="my-avatar" src="../img/avatar.png" width="40px"><div class="down-triangle"></div></div></li>
                        </ul>
                        <div class="container" style="position: absolute;">
                            <div class="down-menu">
                                <div class='up-triangle'></div>
                                <a href='my.html#order' onclick="anchorLink()">我的订单</a>
                                <a href='my.html#account' onclick="anchorLink()">账户设置</a>
                                <a onclick="quit()">退出</a>
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="main-nav">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="seller.html">套餐</a></li>
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs" id="nav-list">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="seller.html">套餐</a></li>
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                            <li class="sm-view-hidden"><a href="view/register.html">注册</a></li>
                            <li class="sm-view-hidden"><a href="view/login.html">登录</a></li>
                            <li class="sm-view-show" style="display:none"><a href="view/my.html">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div id="context">
            </div>
            <div class="container" id="customer-service" align="center" style="background-color: #fff;">
                
                <img src="../img/logo-white.png">
                <h3>在线客服</h3>
                <div style="padding: 0 15px;">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes">客服01号</a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2602605151&site=qq&menu=yes">客服02号</a></li>
                </ul>
                </div>
                <p class="color-gray">客服热线</p>
                <p class="color-blue">400-136-5151</p>
            </div>
            <div id="mob-ctm-svc">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes"><img src="../img/pic-ctm-svc.png"></a>
            </div>
            <footer>
                <div class="footer-top container">
                    <div class="col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#about">51二胎简介</a></li>
                            <li><a href="about.html#contact">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#employ">招聘职位</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>网站条款</h4>
                        <ul class="list-unstyled">
                            <li><a href="terms.html#member">会员条款</a></li>
                            <li><a href="terms.html#copyright">版权声明</a></li>
                            <li><a href="terms.html#relief">免责声明</a></li>
                            <li><a href="terms.html#web">网站声明</a></li>
                            <li><a href="terms.html#secret">隐私条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="padding-right:0">
                        <h4>联系我们</h4>
                        <ul class="list-unstyled">
                            <li><a style="cursor: default;">电话 400-136-5151</a></li>
                            <li><a style="cursor: default;">QQ 2532535151</a></li>
                            <li><a style="cursor: default;">QQ 2602605151</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3 footer-qrcode">
                        <h4>微信公众号</h4>
                        <img class="qrcode-img" src="../img/qrcode.jpg">
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="brand-info">
                            <img src="../img/logo-white.png">
                            <p>Copyright &copy; 2015 - 2016, 51二胎&reg;, All Rights Reserved. <a href="http://www.miibeian.gov.cn/">粤ICP备16027439号</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <a href="#modal-success" class="btn btn-primary" role="button" id="success" data-toggle="modal" data-target="#modal-success" style="display: none;">成功</a>
        <div class='modal fade' id='modal-success' align='center'>
            <div class='modal-box' height='100%'>
                <a class='close' data-dismiss='modal'>
                    <img src='../img/icon-sdblock-btnclose.png'>
                </a>
                <div class="wrapper" align="center" style="margin-top: 10px;">
                    <img width="80px" src="../img/icon-sdblock-yes.png">
                    <h4 style="font-size: 180%;margin-top: 30px;margin-bottom: 20px;">提交成功</h4>
                    <p>感谢预约，我们的客服人员会尽快与您电话联络确认预约事宜。<br/>请保持您的电话畅通。</p>
                    <div class="btn-submit">
                        <a class='btn btn-primary' role='button' id='success-sbm'>确定</a>
                    </div>
                </div>
            </div>
        </div>
        <script id="pageSeller" type="text/x-handlebars-template">
            <div class="container bread-nav">
                <ol class="breadcrumb">
                    <li><a href="../index.html">51二胎</a></li>
                    <!-- <li><a href="seller.html">套餐</a></li> -->
                    <li class="active">{{name}} {{serviceName}}</li>
                </ol>
            </div>
            <div class="sd-block">
                <div class="container">
                    <h3 class="color-blue">{{name}} {{serviceName}}</h3>
                    <div class="thumbnail" style="margin-bottom: 0px;">
                        <div class="row">
                            <div class="col-xs-6 seller-img">
                                <img width="100%" src={{mainimage}}>
                            </div>
                            <div class="seller-desc col-xs-6">
                                <div class="seller-text">
                                    <ul class="list-unstyled">
                                        {{#service}}
                                        <li class={{className}}>
                                            <div class="title">{{title}}</div>
                                            <div class="detail">{{desc}}</div>
                                        </li>
                                        {{/service}}
                                    </ul>
                                    {{#if tip}}
                                    <div class="tips color-blue text-nowrap">*{{tip}}</div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sd-block-footer pull-left">
                        <div class="col-xs-6">
                            <div class="order color-gray text-nowrap">已有<span id="seller-amount">100</span>份预约</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="price">
                                <div>套餐价</div>
                                <div class="big-font">{{price}}</div>
                                <div>元</div>
                            </div>
                            <div class="btn-order">
                                <a href="#modal-order" class="btn btn-primary" role="button" id="order-now" data-toggle="modal" data-target="#modal-order">立即预约</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container content-nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#sellers" aria-controls="sellers" role="tab" data-toggle="tab">套餐说明</a></li>
                    <!-- <li role="presentation"><a id="review-tab" href="#review" aria-controls="review" role="tab" data-toggle="tab">评论</a></li> -->
                </ul>
            </div>
            <div class="tab-content container">
                <div role="tabpanel" class="tab-pane fade in active" id="sellers">
                    <h3>套餐内容</h3>
                    <table>
                        {{#desc}}
                        <tr>
                            <td>{{descrow}}</td>
                            <td class="icon-yes"></td>
                        </tr>
                        {{/desc}}
                    </table>
                    <div>
                        <h3>特色服务</h3>
                        <p>7x24小时贴心客服：出行前后，如果您对我们服务有任何想要了解的地方，可以随时拿起电话与我们沟通。</p>
                        <p>隐私保护：利用代码转换等手段对于您的个人信息进行加密，对于您和您的家人隐私进行全程保护。</p>
                        <p>专车接送：往返机场商务7座专车接送</p>
                        <p>个性需求定制：无论您想入住当地五星级酒店或是选择有专属厨房的华人公寓，无论您想享用美式海鲜大餐或是中式炒菜，我们满足您在当地的一切需求</p>
                        <p>海外生活专家陪护：为您提供最专业的当地生活陪护，帮助您熟悉当地环境，让您在治疗之外度过一段快乐的时光。</p>
                        <p>赠送私人医生（1年）：凡是选择额我们产品的贵宾，都会获得私人医生为期1年的服务，使用手机便可解决您生活中的健康问题。</p>
                    </div>
                </div>
                <!-- <div role="tabpanel" class="tab-pane fade" id="review">
                </div> -->
            </div>
        </script>
        <!-- <script id="sellerReviews" type="text/x-handlebars-template">
            <ul class="review-wrapper">
                {{#items}}
                <li>
                    <div class="col-xs-2" align="center" style="width: 10%;">
                        {{#if photo}}
                        <img class="img-circle" src={{this}} width="100%">
                        {{else}}
                            <img class="img-circle" src="../img/avatar.png" width="100%">
                        {{/if}}
                        <div class="user-name text-nowrap">{{userName}}</div>
                    </div>
                    <div class="col-xs-10" style="padding-top: 15px;">
                        <div class="review-text">{{content}}</div>
                        <div class="review-time color-gray">{{createTimeStr}}</div>
                    </div>
                </li>
                {{/items}}
            </ul>
        </script> -->
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../modal/order.js"></script>
        <script type="text/javascript" src="../modal/login.js"></script>
        <script type="text/javascript" src="../js/sellerdetail.js"></script>
    </body>
</html>