<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎-海外生育权威机构 | 泰国试管婴儿 | 三美泰独家授权</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎医疗海外试管婴儿,泰国权威医院,三美泰独家授权。运用顶尖基因筛查技术,大大降低流产率。第三代aCGH\PGD\PGS技术,筛查300种以上遗传疾病,助您好孕……">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../js/lib/html5shiv.min.js"></script>
          <script src="../js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body onload="anchorLink()">
        <div id="page-service">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" >
                            <img alt="51二胎" src="../img/logo-white.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="register"> 
                            <li><a href="register.html">注册&nbsp;&nbsp;|</a></li>
                            <li><a href="login.html">&nbsp;&nbsp;登录</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="loged" style="display: none;"> 
                            <li><a id="my-name" href="my.html" style="color: #fff;"></a></li>
                            <li><div class="avatar"><img id="my-avatar" src="../img/avatar.png" width="40px"><div class="down-triangle"></div></div></li>
                        </ul>
                        <div class="container" style="position: absolute;">
                            <div class="down-menu">
                                <div class='up-triangle'></div>
                                <a href='my.html#order' onclick="anchorLink()">我的订单</a>
                                <a href='my.html#account' onclick="anchorLink()">账户设置</a>
                                <a onclick="quit()">退出</a>
                            </div>
                        </div>
                        <div class="down-menu">
                            <div class='up-triangle'></div>
                            <a href='../view/my.html'>我的订单</a>
                            <a href='../index.html'>账户设置</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="main-nav">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li class="active"><a href="about.html">我们</a></li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs" id="nav-list">
                            <li><a href="../index.html">首页</a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li class="active"><a href="about.html">我们</a></li>
                            <li class="sm-view-hidden"><a href="register.html">注册</a></li>
                            <li class="sm-view-hidden"><a href="login.html">登录</a></li>
                            <li class="sm-view-show" style="display:none"><a href="my.html">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="container wrap">
                <div class="left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#guide" aria-controls="guide" role="tab" data-toggle="tab">IVF攻略</a></li>
                        <li role="presentation"><a href="#formality" aria-controls="formality" role="tab" data-toggle="tab">IVF手续</a></li>
                        <li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab">IVF流程</a></li>
                        <li role="presentation"><a href="#service" aria-controls="service" role="tab" data-toggle="tab">IVF服务</a></li>
                    </ul>
                </div>
                <div class="right col-xs-9">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="guide">
                            <article>
                                <h3>IVF攻略</h3>
                                <section>
                                    <p>51二胎是北京优医行科技有限公司旗下专注于辅助生殖领域的就医品牌，致力于整合全球优质的辅助生殖项目和顶尖生育医院资源，是国内第一家提供最权威的海外辅助生殖机构成功率数据，最透明的海外辅助生殖项目报价，最专业的国内外顶级生育专家诊疗意见，最贴心的一站式对接服务的互联网医疗平台。</p>
                                    <p>权威、专业、透明、去中介化、用户至上，是我们崇尚的品牌信条。您可以通过电脑或其它移动设备直接联系并预约海外优质的生育医院及辅助生殖项目，定制最合适的生育及辅助生育方案。优孕行确保平台上的每家医院都是真实、经过认证、世界顶尖、且能无缝对接，并在您需要的时候提供最专业贴心的协助，优孕行不会收取任何中间费用。</p>
                                    <p>北京优医行科技有限公司于2015年2月在北京中关村创业园注册成立，是中国第一个专注于国际优质医疗资源在线搜索、预约及点评社区的互联网医疗平台。</p>
                                </section>
                            </article>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="formality">
                            <article>
                                <h3>IVF手续</h3>
                                <section>
                                    <p>第三代试管婴儿技术，是在第一代和第二代完成了体外受精的前提下，把受精卵在体外培养2天后，见胚胎的一个卵球用显微操作技术分离出来做基因活染色体诊断，而胚胎继续培养。在胚胎继续培养2天后，将基因或染色体检查正常的胚胎移植到子宫内。</p>
                                </section>
                            </article>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="process">
                            <article>
                                <h3>IVF流程</h3>
                                <section>
                                    <h5>1.  卵子输出障碍</h5>
                                    <p>女方各种因素导致的卵子运输障碍，如各种原因造成的输卵管缺损、梗阻及病变等。</p>
                                    <h5>2.  排卵障碍</h5>
                                    <p>如内分泌因素或机械性因素造成的卵泡未破裂黄素化(LuF)、多囊卵巢综合征等。</p>
                                    <h5>3.  子宫内膜内异症</h5>
                                    <p>子宫内膜异位症、子宫腺肌症。</p>
                                    <h5>4.  男方精子异常</h5>
                                    <p>男方少、弱精子症，一般认为精液中含有20×1066／ml～100×106／ml精子为有生育力正常范围，低于20x106／ml为少精子症。精子活力正常值是射精后0．5～3小时内的正常精液标本中应有50％或更多的中等到活跃的前向运动精子，低于此值为活力差。</p>
                                </section>
                            </article>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="service">
                            <article>
                                <h3>IVF服务</h3>
                                <section>
                                    <h5>1.  卵子输出障碍</h5>
                                    <p>女方各种因素导致的卵子运输障碍，如各种原因造成的输卵管缺损、梗阻及病变等。</p>
                                    <h5>2.  排卵障碍</h5>
                                    <p>如内分泌因素或机械性因素造成的卵泡未破裂黄素化(LuF)、多囊卵巢综合征等。</p>
                                    <h5>3.  子宫内膜内异症</h5>
                                    <p>子宫内膜异位症、子宫腺肌症。</p>
                                    <h5>4.  男方精子异常</h5>
                                    <p>男方少、弱精子症，一般认为精液中含有20×1066／ml～100×106／ml精子为有生育力正常范围，低于20x106／ml为少精子症。精子活力正常值是射精后0．5～3小时内的正常精液标本中应有50％或更多的中等到活跃的前向运动精子，低于此值为活力差。</p>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="customer-service" align="center" style="background-color: #fff;">
                
                <img src="../img/logo-white.png">
                <h3>在线客服</h3>
                <div style="padding: 0 15px;">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes">客服01号</a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2602605151&site=qq&menu=yes">客服02号</a></li>
                </ul>
                </div>
                <p class="color-gray">客服热线</p>
                <p class="color-blue">400-136-5151</p>
            </div>
            <div id="mob-ctm-svc">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes"><img src="../img/pic-ctm-svc.png"></a>
            </div>
            <footer>
                <div class="footer-top container">
                    <div class="col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#about">51二胎简介</a></li>
                            <li><a href="about.html#contact">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#employ">招聘职位</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>网站条款</h4>
                        <ul class="list-unstyled">
                            <li><a href="terms.html#member">会员条款</a></li>
                            <li><a href="terms.html#copyright">版权声明</a></li>
                            <li><a href="terms.html#relief">免责声明</a></li>
                            <li><a href="terms.html#web">网站声明</a></li>
                            <li><a href="terms.html#secret">隐私条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="padding-right:0">
                        <h4>联系我们</h4>
                        <ul class="list-unstyled">
                            <li><a style="cursor: default;">电话 400-136-5151</a></li>
                            <li><a style="cursor: default;">QQ 2532535151</a></li>
                            <li><a style="cursor: default;">QQ 2602605151</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3 footer-qrcode">
                        <h4>微信公众号</h4>
                        <img class="qrcode-img" src="../img/qrcode.jpg">
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="brand-info">
                            <img src="../img/logo-white.png">
                            <p>Copyright &copy; 2015 - 2016, 51二胎&reg;, All Rights Reserved. <a href="http://www.miibeian.gov.cn/">粤ICP备16027439号</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        
    </body>
</html>