<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>51二胎-海外生育权威机构 | 泰国试管婴儿 | 三美泰独家授权</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
        <meta name="description" content="51二胎医疗海外试管婴儿,泰国权威医院,三美泰独家授权。运用顶尖基因筛查技术,大大降低流产率。第三代aCGH\PGD\PGS技术,筛查300种以上遗传疾病,助您好孕……">
        <meta name="keywords" content="51二胎">
        <meta name="author" content="51二胎">
        <!-- Site CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../js/lib/html5shiv.min.js"></script>
          <script src="../js/lib/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href="http://www.bootcss.com/"> -->
        <script src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/handlebars.js"></script>
        <script type="text/javascript" src="../js/service.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/page.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body onload="anchorLink()">
        <div id="page-terms">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" >
                            <img alt="51二胎" src="../img/logo-white.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="register"> 
                            <li><a href="register.html">注册&nbsp;&nbsp;|</a></li>
                            <li><a href="login.html">&nbsp;&nbsp;登录</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="loged" style="display: none;"> 
                            <li><a id="my-name" href="my.html" style="color: #fff;"></a></li>
                            <li><div class="avatar"><img id="my-avatar" src="../img/avatar.png" width="40px"><div class="down-triangle"></div></div></li>
                        </ul>
                        <div class="container" style="position: absolute;">
                            <div class="down-menu">
                                <div class='up-triangle'></div>
                                <a href='my.html#order' onclick="anchorLink()">我的订单</a>
                                <a href='my.html#account' onclick="anchorLink()">账户设置</a>
                                <a onclick="quit()">退出</a>
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs" id="main-nav">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!--  <li><a href="hospital.html">医院</a></li> --> 
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs" id="nav-list">
                            <li><a href="../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <!-- <li><a href="seller.html">套餐</a></li> -->
                            <!-- <li><a href="hospital.html">医院</a></li> -->
                            <li><a href="case.html">案例</a></li>
                            <li><a href="news.html">资讯</a></li>
                            <li><a href="about.html">业务咨询</a></li>
                            <li class="sm-view-hidden"><a href="view/register.html">注册</a></li>
                            <li class="sm-view-hidden"><a href="view/login.html">登录</a></li>
                            <li class="sm-view-show" style="display:none"><a href="view/my.html">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="container wrap">
                <div class="left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#member" aria-controls="member" role="tab" data-toggle="tab">会员条款</a></li>
                        <li role="presentation"><a href="#copyright" aria-controls="copyright" role="tab" data-toggle="tab">版权声明</a></li>
                        <li role="presentation"><a href="#relief" aria-controls="relief" role="tab" data-toggle="tab">免责声明</a></li>
                        <li role="presentation"><a href="#web" aria-controls="web" role="tab" data-toggle="tab">网站声明</a></li>
                        <li role="presentation"><a href="#secret" aria-controls="secret" role="tab" data-toggle="tab">隐私条款</a></li>
                    </ul>
                </div>
                <div class="right" style="min-height: 485px;">
                    <div class="tab-content">
                        <article role="tabpanel" class="tab-pane fade in active" id="member">
                            <h3>会员条款</h3>
                            <section>
<h4>一、接受条款</h4>
欢迎光临51二胎（以下简称“本网站”）。本网站根据以下服务条款为您提供服务。这些条款可由本网站随时更新，且毋须另行通知。本网站服务条款（以下简称“本服务条款”）一旦发生变动, 本网站将在网页上公布修改内容。修改后的服务条款一旦在网页上公布即有效代替原来的服务条款。您可随时造访本网站查阅最新版服务条款。此外，当您使用本网 站特殊服务时，您和本网站应遵守本网站随时公布的与该服务相关的指引和规则。前述所有的指引和规则，均构成本服务条款的一部分。您在使用相关服务时,应关 注并遵守其所适用的相关条款。
您在使用本网站提供的各项服务之前，应仔细阅读本服务条款。如您不同意本服务条款及随时对其的修改，您可以主动取消 本网站提供的服务；您一旦使用本网站服务，即视为您已了解并完全同意本服务条款各项内容，包括本网站对服务条款随时所做的任何修改，并成为本网站用户（以 下简称“用户”）。
<h4>二、服务说明</h4>
本网站目前经由其产品组合，向用户提供存取丰富的网上资源的诸多服务，包括各种信息工具、网上论坛、个人化内容等（以下简称“本 服务”）。除非本服务条款另有其它明示规定，增加或强化目前本服务的任何新功能，包括所推出的新产品，均受到本服务条款之规范。您了解并同意，本服务仅依 其当前所呈现的状况提供，对于任何用户通讯或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，本网站均不承担任何责任。本网站保留不经事先通 知为维修保养、升级或其它目的暂停本服务任何部分的权利。为使用本服务，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并 应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机或其它存取装置。
<h4>三、遵守法律</h4>
您同意遵守《中华人民共和国合同法》、《中华人民共和国著作权法》及其实施条例、《全国人民代表大会常务委员会关于维护互联网安全的决定》（“人大安全决定”）、《中华人民共和国保守国家秘密法》、《中华人民共和国电信条例》（“电信条例” ）、《中华人民共和国计算机信息系统安全保护条例》、《中华人民共和国计算机信息网络国际联网管理暂行规定》及其实施办法、《计算机信息系统国际联网保密 管理规定》、《互联网信息服务管理办法》、《计算机信息网络国际联网安全保护管理办法》、《互联网电子公告服务管理规定》（“电子公告规 定”）等相关中国法律法规的任何及所有的规定，并对以任何方式使用您的密码和您的帐号使用本服务的任何行为及其结果承担全部责任。如违反《人大安全决定》 有可能构成犯罪，被追究刑事责任。《电子公告规定》则有明文规定，上网用户使用电子公告服务系统对所发布的信息负责。《电信条例》也强调，使用电信网络传 输信息的内容及其后果由电信用户负责。在任何情况下，如果本网站有理由认为您的任何行为，包括但不限于您的任何言论和其它行为违反或可能违反上述法律和法 规的任何规定，本网站可在任何时候不经任何事先通知终止向您提供服务。
<h4>四、您的注册义务</h4>
为了能使用本服务，您同意以下事项∶依本服务注册表之提示提供您本人真实、正确、最新及完整的资料（以 下简称“登记资料”）；及随时更新登记资料，确保其为真实、正确、最新及完整的资料。若您提供任何错误、不实、过时或不完整或具误导性的资料；或者本网站 有理由怀疑前述资料为错误、不实、过时或不完整或具误导性的，本网站有权暂停或终止您的帐号，并拒绝您于现在和未来使用本服务之全部或任何部分。本网站无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及是否为最新资料的责任。
<h4>五、本网站隐私权政策</h4>
您提供的登记资料及本网站保留的有关您的若干其它资料将受到中国有关隐私的法律和本公司《隐私权政策》之规范。请访问本网站查阅本网站完整的隐私权政策。
<h4>六、用户帐号、密码及安全</h4>
完成本服务的登记程序之后，您获得到一个密码及帐号。您应对所有用您的密码及帐号的活动负完全的责任。当您的密码或帐号遭到未获授权的使用，或者发生其它任何安全问题时，应第一时间通知本网站
<h4>七、提供者之责任</h4>
根据有关法律法规，本网站在此郑重提请您注意，任何经由本服务以上载、张贴、发送电子邮件或任何其它方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息或其它资料（以下简称“内容”），无论系公开还是私下传送，均由内容提供者承担责任。本网站无法控制经由本服务传送之内容，因此不保证内容的正确性、完整性或品质。您已预知使用本 服务时，可能会接触到令人不快、不适当或令人厌恶之内容。在任何情况下，本网站均不为任何内容负责，包含但不限于任何内容之任何错误或遗漏，以及经由本服务以张贴、发送电子邮件或其它方式传送任何内容而衍生之任何损失或损害。但本网站有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关机关报告。
<h4>八、用户行为</h4>
用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶ <br/>
1.上载、张贴、发送电子邮件或以其它方式传送含有下列内容之一的信息： # 反对宪法所确定的基本原则的； # 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的； # 损害国家荣誉和利益的； # 煽动民族仇恨、民族歧视、破坏民族团结的； # 破坏国家宗教政策，宣扬邪教和封建迷信的； # 散布谣言，扰乱社会秩序，破坏社会稳定的； # 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的； # 侮辱或者诽谤他人，侵害他人合法权利的； # 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容； # 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的； <br/>
2. 以任何方式危害未成年人的利益； <br/>
3.冒充任何人或机构，包含但不限于本网站员工，或以虚伪不实的方式陈述或谎称与任何人或机构有关； <br/>
4.伪造标题或以其它方式操控识别资料，以伪造经由本服务传送之任何内容之来源； <br/>
5.将依据任何法律或合约或法定关系（例如由于雇佣关系和依据保密合约所得知或揭露之内部资料、专属及机密资料）知悉但无权传送之任何内容加以上载、张 贴、发送电子邮件或以其它方式传送； <br/>
6.将侵害他人著作权、专利权、商标权、商业秘密、或其它专属权利（以下简称“专属权利”）之内容加以上载、张贴、发送电子邮件或以其它方式传送； <br/>
7.将任何广告信函、促销资料、“垃圾邮件”、“滥发信件"、“连锁信件”、“直销”或其它任何形式的劝诱资料加以上载、张贴、发送电子邮件或以其它方式传送，惟专供前述目的使用之区域（例如购物室），按照有关适用指引或规则进行的行为不在此限； <br/>
8.将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒（包括但不限于木马程序(Trojan horses)、蠕虫(worms)、定时炸弹、删除蝇(cancelbots)（以下简称“病毒”））或其它计算机代码、档案和程序之任何资料，加以上载、张贴、发送电子邮件或以其它方式传送； <br/>
9.破坏正常的对话流程、造成荧屏快速移动，或使本服务其它用户无法输入，或对其它用户参加即时交流的能力产生负面影响； <br/>
10.干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范； <br/>
11.跟踪或以其它方式骚扰他人； <br/>
12.故意或非故意地违反任何适用的当地、国家和国际法律； <br/>
13.未经合法授权而截获、篡改、收集、储存或删除他人个人信息、电子邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。
您已认可本网站未对本服务内容加以任何事先审查，对用户的使用行为也无法进行全面控制，您使用任何内容时，包括依赖 前述内容之正确性、完整性或实用性时，您同意将自行加以判断并承担所有风险，而不依赖于本网站。但本网站及其指定人有权（但无义务）依其自行之考虑，拒绝 和删除可经由本服务提供之违反本条款的或其它引起本网站反感的任何内容。您了解并同意，本网站依据法律法规的要求，或基于诚信为了以下目的或在合理必要范 围内，认定必须将内容加以保存或揭露时，得加以保存或揭露： (a)遵守法律程序； (b)执行本服务条款； (c)回应任何第三人提出的权利主张； (d)保护本网站、其用户及公众之权利、财产或个人安全；或 (e)其它本网站认为有必要的情况。
您了解并同意经由本服务之技术处理及传送，您提供的任何内容，可能 (a)经由各个网路加以传送，且 (b)为了符合及配合连线网路或装置之技术要求而进行改变。
<h4>九、国际使用之特别警告</h4>
您已了解国际互联网的无国界性，同意遵守当地所有关于网上行为及内容之法律法规。您特别同意遵守有关从中国或您所在国家或地区输出信息之传输的所有适用法律法规。
<h4>十、在本网站张贴的公开信息</h4>
1.在本服务条款中，“本服务公开使用区域”系指一般公众可以使用的区域。 2.您同意已就您于本服务公开使用区域及本服务其它任何公开使用区域张贴之内容，或包括照片、图形或影音资料等内容，授予本网站全球性、免许可费及非独家 的使用权，本网站可以为了展示、散布及推广张贴前述内容之特定服务目的，将前述内容复制、修改、改写、改编或出版，对于照片及图形资料的上述使用，仅为张 贴该照片或图形于本服务之目的而为之。在您将前述内容放入本服务期间，使用权持续有效；若您将前述内容自本服务中删除，则使用权于删除时终止。 3.您同意已就您于本服务其它公开使用区域张贴的其它内容，授予本网站免许可费、永久有效、不可撤销、非独家及可完全再授权之权利在全球使用、复制、修 改、改写、改编、发行、翻译、创造衍生性著作，及将前述内容（部分或全部）加以散布、表演、展示，及放入利用任何现在已知和未来开发出之形式、媒体和科技 之其它著作物当中。
<h4>十一、 赔偿</h4>
由于您通过本服务提供、张贴或传送之内容、您与本服务连线、您违反本服务条款、或您侵害他人任何权利因而衍生或导致 任何第三人提出任何索赔或请求，包括合理的律师费，您同意赔偿本网站及其子公司、关联企业、高级职员、代理人、品牌共有人或其它合作伙伴及员工，并使其免 受损害。
<h4>十二、禁止商业行为</h4>
您同意不对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。
<h4>十三、关于使用及储存之一般措施</h4>
您承认关于本服务的使用本网站有权制订一般措施及限制，包含但不限于本服务将保留所张贴内容或其它上载内容之最长期间以及一定期间内您使用本服 务之次数上限（及每次使用时间之上限）。通过本服务存储或传送之任何信息、通讯资料和其它内容，如被删除或未予储存，您同意本网站毋须承担任何责任。您亦 同意，长时间未使用的帐号，本网站有权关闭。您也同意，本网站有权依其自行之考虑，不论通知与否，随时变更这些一般措施及限制
<h4>十四、服务之修改</h4>
本网站有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否。您同意对于本服务所作的任何修改、暂停或终止，本网站对您和任何第三人均无需承担任何责任。
<h4>十五、终止服务</h4>
您同意本网站得基于其自行之考虑，因任何理由，包含但不限于缺乏使用，或本网站认为您已经违反本服务条款的文字及精 神，终止您的密码、帐号或本服务之使用（或服务之任何部分），并将您在本服务内任何内容加以移除并删除。本网站亦得依其自行之考虑，于通知或未通知之情形 下，随时终止本服务或其任何部分。您同意依本服务条款任何规定提供之本服务，无需进行事先通知即可中断或终止，您承认并同意，本网站可立即关闭或删除您的 帐号及您帐号中所有相关信息及文件，及禁止继续使用前述文件或本服务。此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除， 本网站对您或任何第三人均不承担任何责任。
<h4>十六、与广告商进行之交易</h4>
您通过本服务与广告商进行任何形式的通讯或商业往来，或参与促销活动，包含相关商品或服务之付款及交付，以及达成的 其它任何相关条款、条件、保证或声明，完全为您与广告商之间之行为。有关法律法规有明文规定要求本网站承担责任以外，您因前述任何交易或前述广告商而遭受 的任何性质的损失或损害，本网站均不予负责。
<h4>十七、链接</h4>
本服务或第三人可提供与其它国际互联网上之网站或资源之链接。由于本网站无法控制这些网站及资源，您了解并同意，此 类网站或资源是否可供利用，本网站不予负责，存在或源于此类网站或资源之任何内容、广告、产品或其它资料，本网站亦不予保证或负责。因使用或依赖任何此类 网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，本网站不负任何直接或间接之责任。
<h4>十八、本网站之专属权利</h4>
您了解并同意，本服务及本服务所使用之相关软件（以下简称“软件”）含有受到相关知识产权及其它法律保 护之专有保密资料。您也了解并同意，经由本服务或广告商向您呈现之赞助广告或信息所包含之内容，亦受到著作权、商标权、服务商标、专利权或其它专属权利之 法律保护。未经本网站或广告商明示授权，您不得修改、出租、出借、出售、散布本服务或软件之任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软 件，包括但不限于为了未经授权而使用本服务之目的。本网站仅授予您个人、不可移转及非专属之使用权，使您得于单机计算机使用其软件之目的码，但您不得（并 不得允许任何第三人）复制、修改、创作衍生著作、进行还原工程、反向组译，或以其它方式发现原始码，或出售、转让、再授权或提供软件设定担保，或以其它方 式移转软件之任何权利。您同意将通过由本网站所提供的界面而非任何其它途径使用本服务。
<h4>十九、担保与保证</h4>
您明确了解并同意∶ 1.本服务条款的任何规定不会免除本网站对造成您人身伤害的、或因故意或重大过失造成您财产损失的任何责任。 2.您使用本服务之风险由您个人负担。本服务系依“现状”及“现有”基础提供。本网站对本服务不提供任何明示或默示的担保或保证，包含但不限于商业适售性、特定目的之适用性及未侵害他人权利等担保或保证。 3.本网站不保证以下事项∶ (a)本服务将符合您的要求， (b)本服务将不受干扰、及时提供、安全可靠或不会出错， (c)使用本服务取得之结果正确可靠， (d)您经由本服务购买或取得之任何产品、服务、资讯或其它信息将符合您的期望，且 (e)软件中任何错误都将得到更正。 4.是否使用本服务下载或取得任何资料应由您自行考虑且自负风险，因任何资料之下载而导致的您电脑系统之任何损坏或数据流失等后果，由您自行承担。 5.您自本网站或经由本服务取得的任何建议或信息，无论是书面或口头形式，除非本服务条款有明确规定，将不构成本服务条款以外之任何保证。
<h4>二十、责任限制</h4>
您明确了解并同意，基于以下原因而造成的，包括但不限于利润、信誉、应用、数据损失或其它无形损失，本网站不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任（即使本网站事先已被告知发生此种赔偿之可能性亦然）： (a)本服务之使用或无法使用， (b)为替换从或通过本服务购买或取得之任何商品、数据、信息、服务，收到的讯息，或缔结之交易而发生的成本， (c)您的传输或数据遭到未获授权的存取或变造， (d) 任何第三方在本服务中所作之声明或行为，或 (e)与本服务相关的其它事宜，但本服务条款有明确规定的除外。
<h4>二十一、通知</h4>
向您发出的通知可经由站内消息、电子邮件、普通邮件和手机短信告之。本服务条款或其它事项有所变更时，本服务一般将向您显示此种通知或与该通知相关之链结。
<h4>二十二、 用户专属权利</h4>
本网站尊重他人知识产权，呼吁用户也要同样尊重知识产权。若您认为您的作品的著作权遭到侵害或您的知识产权被侵犯，请向本网站之著作权代理人提供以下资料∶ 1.著作权或其它知识产权所有人之有权代理人之电子或实体签名。 2.对您主张遭到侵权之作品或知识产权进行的描述。 3.对您主张遭到侵权之作品在网站上所处的位置进行的描述。 4.您的地址、电话号码及电子邮件地址。 5.您一秉善意所作的认为该有争议的使用未经著作权或其它知识产权所有人、其代理人或依照法律授权之声明。 6.您已充分了解做虚假指证的全部法律后果，在此前提下您保证所提供的前述资料均为合法的、正确的，并且您是著作权或知识产权的所有人或已经合法授权有权 代理著作权或知识产权的所有人。
<h4>二十三、一般条款</h4>
1.本服务条款构成您与本网站之全部协议，并规范您对于本服务之使用行为，并取代您先前与本网站所达成的全部协议。 在您使用相关服务、使用第三方提供的内容或软件时，亦应遵从所适用之附加条款及条件。 2.本服务条款及您与本网站之关系，均受到中华人民共和国法律管辖。 3.本网站未行使或执行本服务条款任何权利或规定，不构成对前述权利或权利之放弃。 4.倘本服务条款之任何规定因与中华人民共和国法律抵触而无效，您依然同意应依照法律，努力使该规定所反映之当事人意向具备效力，且本服务条款其它规定仍 应具有完整的效力及效果。 5.本服务条款之标题仅供方便而设，不具任何法律或契约效果。
<h4>二十四、 举报</h4>
倘发现任何违反本服务条款之情事，请通知本公司相关部门。
                            </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="copyright">
                                <h3>版权声明</h3>
                                <section>
                                    <p>1、本网所有内容，凡注明"来源：51二胎"的所有文字、图 片和音视频资料，版权均属广州乐生医疗服务有限公司所有，任何媒体、网站或个人未经本网协议授权不得转载、链接、转贴或以其他方式复制发布/发表。已经本网协议授权的媒 体、网站，在下载使用时必须注明"稿件来源：51二胎"，违者本网将依法追究责任。 </p>
                                    <p>凡本网注明"来源：××× "的文/图等稿件，本网转载出于传递更多信息之目的，并不意味着赞同其观点或证实其内容的真实性。</p>
                                    <p>2、除注明"来源：51二胎"的内容外，本网以下内容亦不可任意转载：</p>
                                    <ul class="list-unstyled">
                                        <li>a. 本网所指向的非本网内容的相关链接内容；</li>
                                        <li>b. 已作出不得转载或未经许可不得转载声明的内容；</li>
                                        <li>c. 未由本网署名或本网引用、转载的他人作品等非本网版权内容；</li>
                                        <li>d. 本网中特有的图形、标志、页面风格、编排方式、程序等；</li>
                                        <li>e. 本网中必须具有特别授权或具有注册用户资格方可知晓的内容；</li>
                                        <li>f. 其他法律不允许或本网认为不适合转载的内容。</li>
                                    </ul>
                                    <p>3、转载或引用本网内容必须是以新闻性或资料性公共免费信息为使用目的的合理、善意引用，不得对本网内容原意进行曲解、修改，同时必须保留本网注明的"稿件来源"，并自负版权等法律责任。</p>
                                    <p>4、转载或引用本网内容不得进行如下活动：</p>
                                    <ul class="list-unstyled">
                                        <li>a. 损害本网或他人利益；</li>
                                        <li>b. 任何违法行为；</li>
                                        <li>c.任何可能破坏公秩良俗的行为；</li>
                                        <li>d. 擅自同意他人继续转载、引用本网内容；</li>
                                    </ul>
                                    <p>5、转载或引用本网版权所有之内容须注明"转自（或引自）51二胎"字样，并标明本网网址www.51ssss.cn。</p>
                                    <p>6、转载或引用本网中的署名文章，请按规定向作者支付稿酬。</p>
                                    <p>7、对于不当转载或引用本网内容而引起的民事纷争、行政处理或其他损失，本网不承担责任。</p>
                                    <p>8、对不遵守本声明或其他违法、恶意使用本网内容者，本网保留追究其法律责任的权利。</p>
                                </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="relief">
                                <h3>免责声明</h3>
                                <section>
                                    <p>1、任何人因使用本网站而可能遭致的意外及其造成的损失（包括因下载本网站可能链接的第三方网站内容而感染电脑病毒），我们对此概不负责，亦不承担任何法律责任。</p>
                                    <p>2、本网站禁止制作、复制、发布、传播等具有反动、色情、暴力、淫秽等内容的信息，一经发现，立即删除。若您因此触犯法律，我们对此不承担任何法律责任。 </p>
                                    <p>3、本网站会员自行上传或通过网络收集的资源，我们仅提供一个展示、交流的平台，不对其内容的准确性、真实性、正当性、合法性负责，也不承担任何法律责任。</p>
                                    <p>4、任何单位或个人认为通过本网站网页内容可能涉嫌侵犯其著作权，应该及时向我们提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。我们收到上述法律文件后，将会依法尽快处理。</p>
                                </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="web">
                                <h3>网站声明</h3>
                                <section>
                                <h4>1. 您与51二胎的关系</h4>
                                <p>1.1 您对51二胎的产品、信息、软件及网站（本文件中合称"服务"，不包括在单独的书面协议项下51二胎向您提供的任何服务）的使用适用您和51二胎之间法律 协议的条款。"51二胎"指广州乐生医疗。本文件解释了所有注册用户与51二胎之间的协议如何制定，并陈述了协议 中的若干条款。<br/>
                                1.2 除非与51二胎另有书面协议，否则您与51二胎的协议将始终至少包括本文件中陈述的条款和条件。这些条款和条件下称"通用条款"。<br/>
                                1.3 除通用条款外，您与51二胎的协议亦将包括适用于服务的任何法律声明中的条款。所有这些法律声明中的条款下称"特别条款"。特别条款适用于服务时，您可在该服务范围内或使用该服务过程中读到该等条款。<br/>
                                1.4 通用条款，连同特别条款，构成您和51二胎之间关于您使用服务的具有法律约束力的协议。请您仔细阅读并完全理解，如您注册使用51二胎提供的产品及/或服务，则视为您完全理解并同意该法律协议。该法律协议以下合称"本条款"。<br/>
                                1.5 如果特别条款的内容和通用条款的内容发生任何冲突，则就该服务内容，应以特别条款为准。</p>
                                <h4>2. 接受本条款</h4>
                                <p>2.1 使用服务必须首先同意本条款。如果您不接受本条款则不可使用服务。<br/>
                                2.2 您可通过下列方式接受本条款：<br/>
                                (a)在有关任何服务的用户界面上51二胎向您提供的选择处点击以接受或同意本条款；或(b)实际使用服务。在此情况下，您理解并同意51二胎视您自使用服务时起接受本条款。<br/>
                                2.3 在下列情况下您不可使用服务且不能接受本条款：<br/>
                                (a)您未达到与51二胎订立有约束力的合同的法定年龄，或(b)根据中国或其他国家（包括您居住的或您从那里使用服务的国家）的法律，您是被禁止接受服务的人。</p>
                                <h4>3. 本条款语言</h4>
                                <p>3.1 51二胎向您提供本条款中文文本的其他语言翻译件时，您同意翻译件仅供您方便之用，本条款的中文文本适用于您和51二胎之间的关系。<br/>
                                3.2 如果本条款中文文本和翻译文本存在任何冲突，则以中文文本为准。</p>
                                <h4>4. 51二胎提供服务</h4>
                                <p>4.1 51二胎在全球范围内拥有关联法律实体（"子公司及/或关联公司"）。在某些时候，这些公司将代表51二胎向您提供服务。您认知并同意子公司及/或关联公司有权向您提供服务。
                                <br/>4.2 51二胎不断创新以向其用户提供最优体验。您认知并同意51二胎提供的服务的形式和本质可不经事先通知您而不时变换。
                                <br/>4.3 作为这种持续创新的一部分，您认知并同意51二胎可自行决定，无须事先通知您，即停止（永久或暂时）向您提供服务。在双方没有另行签署关于具体服务书面协议的情况下，您可在任何时候停止使用服务。您停止使用服务时无需特别通知51二胎。
                                <br/>4.4 您认知并同意，如果51二胎禁用对您的帐户的访问权，则您可能被阻止获得服务、您的帐户资料或包含在您帐户中的任何文件或其他内容。
                                <br/>4.5 您认知并同意，尽管51二胎可能目前没有设置您可通过服务发送或接收的传输数量或用于提供任何服务的存储空间的上限，但51二胎可自行决定在任何时候设置上限。</p>
                                <h4>5. 您对服务的使用</h4>
                                <p>5.1 为获得某些服务，您可能会被要求提供自身信息（如身份或联系资料）作为服务的登记程序的一部分，或作为您持续使用服务的一部分，如您提供的信息变化，请您及时更新。您同意您给予51二胎的任何登记信息均是准确、正确和最新的。
                                <br/>5.2 您同意仅为(a)本条款及(b)任何适用法律、法规或有关辖区内公认的惯例或准则（包括关于数据或软件向或从美国或其他相关国家出口的任何法律）所允许的目的使用服务。
                                <br/>5.3 您同意不以通过51二胎提供的界面以外的任何方式获得（或试图获得）任何服务，除非您根据与51二胎的单独协议获得特别允许。
                                <br/>5.4 您同意您不从事妨碍或者破坏服务（或与服务连接的服务器及网络）的任何活动。
                                <br/>5.5 除非您在与51二胎的单独协议中获得特别允许，否则您同意您不为任何目的再制作、复制、拷贝、出售、交易或转售服务。
                               <br/>5.6 您同意独自就您违反您在本条款项下的义务以及任何该等违反的后果（包括51二胎遭受的任何损失或损害）承担责任（51二胎不对您或任何第三方承担责任）。</p>
                                <h4>6. 您的密码和帐户安全</h4>
                                <p>6.1 您同意并理解您有责任将您与用于获得服务的任何帐户相关的密码保密。
                                <br/>6.2 据此，您同意将独自就在您帐户下的所有活动对51二胎负责。
                                <br/>6.3 如果您得知任何对您的密码或您的帐户的任何未经授权的使用，您同意立即通知51二胎。</p>
                                <h4>7. 隐私与您的个人信息</h4>
                                <p>7.1 关于51二胎的数据保护惯例的信息，请查阅51二胎的隐私政策。该政策解释了51二胎如何处理您的个人信息，并在您使用服务时保护您的隐私。
                                <br/>7.2 您同意按照51二胎的隐私政策使用您的数据。</p>
                                <h4>8. 服务内容</h4>
                                <p>8.1 您理解，作为服务的一部分或通过您使用服务得到的所有信息（如数据文件、书面文本、电脑软件、音乐、音像文件或其他声音、图片、录像或其他图像），完全由该内容出处的人员负责。所有该等信息下称"内容"。
                                <br/>8.2 您应意识到作为服务一部分展示给您的内容，包括但不限于服务中的广告及服务中的赞助内容，可能受向51二胎提供内容的赞助者或广告商（或代表其的其他人员 或公司）所拥有的知识产权的保护。您不得修改、租赁、出租、借贷、出售、分发该内容（无论全部还是部分）或根据该内容创作衍生作品，除非51二胎或内容所 有人在单独协议中特别告知您可以为之。
                                <br/>8.3 51二胎保留从任何服务中筛选、审阅、标明、过滤、修订、拒绝或删除任何或所有内容的权利（但无义务这样做）。就某些服务而言，51二胎可提供滤除明确色情内容、政治相关内容的工具。此外，还有可以通过商业渠道获得的服务和软件能够限制访问令您反感的材料。
                                <br/>8.4 您理解：通过使用服务，您可能会接触到您觉得冒犯的、粗鄙的、反感的内容，您使用服务时与此相关的风险由您自行承担。
                                <br/>8.5 您同意独自就您在使用服务时创作、传送或展示的任何内容以及您做出该等行为的后果（包括51二胎可能遭受的任何损失或损害）承担责任（51二胎不对您或任何第三方承担责任）。</p>
                                <h4>9. 专有权利</h4>
                                <p>9.1 您认知并同意，51二胎（或51二胎的许可方）对服务拥有一切法定权利、所有权和利益，包括存在于服务中的任何知识产权（无论该等权利是否已经登记，也不 论该等权利在世界的何等地方存在）。您进一步认知，服务可能包括51二胎指定为保密的信息，未经51二胎事先书面同意，您不得披露该等信息。
                                <br/>9.2 除非您与51二胎另有书面协议，否则本条款中的任何规定均未给予您使用51二胎任何商号、商标、服务标记、标识、域名及其他显著品牌特征的权利。
                                <br/>9.3 如果您在与51二胎的单独书面协议中被给予一项使用上述品牌特征的明确的权利，则您同意您在使用该等品牌特征时遵守该协议、本条款的任何适用规定以及不时更新的51二胎品牌特征使用指南。
                                <br/>9.4 除第11条规定的限制许可外，51二胎认知并同意，其不在本条款项下获得您（或您的许可方）对在服务上或通过服务提交、张贴、传输或展示的任何内容的任何 权利、所有权或利益，包括该内容中存在的任何知识产权（无论该等权利是否已经登记，亦不论该等权利在世界的何等地方存在）。除非您与51二胎另有书面协 议，否则您同意您负责保护并强制执行这些权利，51二胎没有义务代表您这样做。
                                <br/>9.5 您同意您不得删除、掩藏或改动服务所附的或包含的任何专有权利声明（包括著作权和商标声明）。
                                <br/>9.6 除非您得到51二胎书面明确授权这样做，否则您同意在使用服务时，您将不以可能或故意导致混淆该等商标、名称或标识的所有者或授权用户的方式使用任何公司或组织的商标、服务标识、商号、标识。</p>
                                <h4>10. 51二胎的许可</h4>
                                <p>10.1 51二胎给予您一项个人的、全世界范围内的、不可转让及非排他性的许可，以使用作为51二胎向您所供服务的一部分而向您提供的软件（下称"软件"）。此项许可仅以使您可以根据本条款允许的方式使用和享用51二胎提供的服务的益处为目的。
                                <br/>10.2 您不得（且您不得允许任何其他人）拷贝、修改软件或软件的任何部分，或对软件或软件的任何部分创作衍生作品，进行反向工程、反编辑或试图从软件或软件的任何部分提取源代码，但法律明确允许或要求的或51二胎特别书面告知您的除外。
                                <br/>10.3 除非51二胎给予您明确的书面允许，否则您不得转让您对软件的使用权（或授予该使用权的分许可）、在您对软件的使用权上设置担保权益或以其他方式转让您对软件的使用权的任何部分。</p>
                                <h4>11. 您对内容的许可</h4>
                                <p>11.1 您保留你在服务上或通过服务提交、张贴或展示的内容中已持有的著作权及任何其他权利。通过提交、张贴或展示内容，您给予51二胎一项永久性的、不可撤销 的、世界范围内的、免交使用费的及非排他性的许可，以复制、改编、修改、翻译、发布、公开实施、公开展示及分发您在服务上或通过服务提交、张贴或展示的任 何内容。此项许可仅以使51二胎可以展示、分发及宣传服务为目的，并可按某些服务的附加条款就该等服务撤销此项许可。
                                <br/>11.2 您同意此项许可包括一项权利，使51二胎可将该等内容提供给与51二胎有提供联合服务的关系的其他公司、组织或个人，并就联合服务的提供使用该内容。
                                <br/>11.3 您理解，51二胎在实施所需的技术措施向用户提供服务时，可(a)在不同的公共网络和不同的媒体传送或分发您的内容；(b)对您的内容作出必要的变更以使内容符合、适应连接网络、装置、服务或介质的技术要求。您同意此项许可允许51二胎采取这些行动。
                                <br/>11.4 您向51二胎确认并保证您拥有所有必要的权利、权力和授权授予上述许可。</p>
                                <h4>12. 您使用的软件可从51二胎不时地自动下载和安装更新版本。这些更新旨在改进、增强和进一步开发服务并可采用修正版、强化功能、新软件模块和全新版本的形式。您同意接受该等更新（并允许51二胎向您交付）作为您使用服务的一部分。</h4>
                                <h4>13. 终止您与51二胎的关系</h4>
                                <p>13.1 本条款将持续适用直至根据下述规定由您或51二胎终止。
                                <br/>13.2 如果您希望终止与51二胎的法律协议，您可通过下列方式完成：(a)在任何时候通知51二胎及(b)在51二胎向您提供选择的情况下，关闭您使用的所有服务的帐户。您的通知应书面发送至本条款起始之处规定的51二胎地址。
                                <br/>13.3 发生下列情况时51二胎可终止其与您的法律协议：
                                <br/>(A)您违反了本条款的任何规定（或您的行为方式明确显示您不打算或不能遵守本条款规定）；或
                                <br/>(B)法律要求51二胎这样做（例如：向您提供服务不合法或变得不合法）；或
                                <br/>(C)51二胎与之一起向您提供服务的合作伙伴已终止与51二胎的关系或停止向您提供服务；或
                                <br/>(D)51二胎转变为不再向您居住的或您从那里使用服务的国家内的用户提供服务；或
                                <br/>(E)51二胎认为，51二胎向您提供服务不再具有商业可行性。
                                <br/>13.4 本条的任何规定不得影响51二胎与根据第4条提供服务有关的权利。
                                <br/>13.5 本条款终止时，您和51二胎已经享受或承担的（或在本条款有效期间已经产生的）或明确规定为无限期有效的所有法定权利、义务和责任不受该终止的影响，第20.7条的规定应无限期地适用于该等权利、义务和责任。</p>
                                <h4>14. 不包括其他保证</h4>
                                <p>14.1 本条款中的任何规定，包括第14和第15条，均不排除或限制51二胎根据适用法律不能合法排除或限制的损失保证或责任。某些司法辖区不允许排除某些保证或 条件，或限制或排除对由于疏忽、违约、违反暗含条款引起的损失或损害或对附带或后果性损害的责任。因此，只有在您的司法辖区合法的限制对您适用，并且我们 的责任将在法律允许的最大限度内受到限制。
                                <br/>14.2 您明示理解并同意，您对使用服务独自承担风险并且服务按"现状"和"原样"的方式提供。
                                <br/>14.3 尤其是，51二胎、其子公司和关联公司及其许可人，不就以下各项向您作出陈述或保证：
                                <br/>(A)您对服务的使用将符合您的需求；
                                <br/>(B)您对服务的使用将无中断、及时、安全或没有错误；
                                <br/>(C)由于您使用服务而获得的任何信息将是准确的或可靠的；及
                                <br/>(D)作为服务的一部分向您提供的任何软件的运行或功能中的缺陷将被纠正。
                                <br/>14.4 通过使用服务而下载或以其他方式获得的任何材料由您自行作出并承担风险，您将独自对由于下载任何该等材料而导致对电脑系统或其他装置的损害或数据的丢失负责。
                                <br/>14.5 您从51二胎获得的或通过服务或从服务获得的任何建议或信息（无论口头还是书面的）均不创立本条款中未明确规定的任何保证。
                                <br/>14.6 51二胎进一步明确否认任何种类的所有保证和条件（无论明示还是默示的），包括但不限于适销性、适合特定目的及不侵权的默示保证和条件。</p>
                                <h4>15. 责任限制</h4>
                                <p>15.1 在遵守上文第14.1条全部规定的前提下，您明示理解并同意，51二胎、其子公司和关联公司及其许可人不就以下事项对您承担责任：
                                <br/>(A)您无论由于何种原因和在任何责任理论项下发生的任何直接、间接、附带、特殊、后果性或惩罚性的损害。这应包括但不限于任何利润损失（无论是直接还是间接发生）、任何商誉或业务声誉损失、任何数据丢失、替代物品或服务的购买费用或其他无形损失；
                                <br/>(B)您可能产生的任何损失或损害，包括但不限于由下列原因导致的损失或损害：
                                (I)您对任何广告的完整性、准确性或其存在的信任， 或作为您与其广告出现在服务中的任何广告商或赞助人之间的任何关系或交易的结果；
                                (II)51二胎对服务可能做出的变更，或永久或暂时停止提供服务（或服务中的任何功能）；
                                (III)对通过您使用服务而维持或传输的任何内容及其他通信数据的删除、毁坏或未能将其储存；
                                (IV)您未向51二胎提供准确的帐户信息；
                                (V)您未对您的密码或帐户资料保持安全及保密；
                                <br/>15.2 无论51二胎是否接到通知或是否应已知晓引起任何该等损失的可能性，上文第15.1条中51二胎对您的责任限制均应适用。</p>
                                <h4>16. 对关于符合适用国际知识产权法（包括中国的《著作权法》）的指称的著作权侵权通知做出回应以及终止重复侵权者帐户是51二胎的政策。</h4>
                                <h4>17. 广告</h4>
                                <p>17.1 部分服务由广告收入支持，可展示广告和推销。这些广告可能是针对存储于服务中的信息、通过服务提出的询问或其他信息的内容提供的。
                                <br/>17.2 51二胎在服务上的广告的方式、模式和范围可不经向您特别通知而变更。
                                <br/>17.3 作为51二胎授予您访问和使用服务的权利的对价，您同意51二胎可以在服务上加载该等广告。</p>
                                <h4>18. 其他内容</h4>
                                <p>18.1 服务可包含对其他网站或内容或资源的超级链接。51二胎可能并不控制由51二胎以外的公司或个人提供的任何网站或资源。
                                <br/>18.2 您认知并同意，51二胎不对该等外部网站或资源的可用性负责，亦不对该等网络或资源上的或从该等网站或资源获得的任何广告、产品或其他材料加以认可。
                                <br/>18.3 您认知并同意，51二胎不对由于您由于那些外部的网站或资源的可用性或您对该等网站或资源上的或从该等网站或资源获得的任何广告、产品或其他材料的完整性、准确性或存在的信赖而发生的任何损失或损害承担责任。
                                <br/>18.4 您明确知晓并理解51二胎提供的是信息咨询服务，51二胎保证其推荐的医疗结构真实性及合法性，但51二胎并非直接提供医疗诊断服务，您明确同意由于相关医疗诊断的后果由您直接承担，与51二胎无关。</p>
                                <h4>19. 本条款的变更</h4>
                                <p>19.1 51二胎可不时对通用条款或附加条款作出变更。
                                <br/>19.2 您理解并同意，如果您在通用条款或附加条款变更日期之后使用服务，则51二胎将把您的使用视为接受更新后的通用条款或附加条款。</p>
                                <h4>20. 一般法律条款</h4>
                                <p>20.1 有时候您使用服务，您即可（作为您使用服务的结果或通过您对服务的使用）使用其他人或公司提供的某项服务或下载一个其他人或公司提供的软件，或购买其他人 或公司提供的商品。您对这些其他服务、软件或商品的使用受限于您和相关公司或个人的单独条款。在此情况下，本条款不影响您和这些其他公司或个人的法律关 系。
                                <br/>20.2 本条款构成您和51二胎之间关于您使用服务（但不包括根据单独书面协议51二胎向您提供的任何服务）的全部法律协议，并完全取代您和51二胎先前就服务达成的任何协议。
                                <br/>20.3 51二胎有义务对您提交的个人信息保密，未经允许不得透露给第三方。您同意51二胎可通过电子邮件发送各种通知及各种非商业或商业性质的内容。
                                <br/>20.4 您同意，如果51二胎未行使或未强制执行包含在本条款中的（或51二胎在任何适用法律下有权享受的）任何法定权利或救济，不可视为对51二胎权利的正式放弃，这些权利或救济仍对51二胎有效。
                                <br/>20.5 如果对该等事项有司法决定权的任何法院，判定本条款的任何规定无效，则该等规定将从本条款中删除，而不影响本条款的其他部分。本条款的其余部分将继续有效并可强制执行。
                                <br/>20.6 您认知并同意，51二胎所属的公司集团的每一成员应为本条款的第三方受益人，该等其他公司应有权直接强制执行和依赖赋予其利益（或权利）的本条款的任何规定。此外，没有任何人或公司应是本条款的第三方受益人。
                                <br/>20.7 本条款及本条款项下您与51二胎的关系，受中国法律管辖，但排除其冲突法规定。您与51二胎均同意接受位于中国境内的法院的专属管辖权，以解决任何由本条 款引起的法律事项。尽管有上述规定，您同意51二胎仍被允许请求任何辖区内的禁制令救济（或同等类型的紧急法定救济）。</p>
                                </section>
                        </article>
                        <article role="tabpanel" class="tab-pane fade" id="secret">
                                <h3>隐私条款</h3>
                                <section>
                                    <p>51二胎尊重并保护使用环球的用户个人隐私权。“隐私”是指用户在注册使用51二胎服务时提供给51二胎的个人信息，包括用户注册资料中的姓名、个人有效身 份证件号码、护照号码、联系方式、家庭住址以及在使用服务过程中所体现的包括但不限于翻译的病历等信息。为了给用户提供更及时、准确、便捷及个性化的服 务，51二胎会按照本隐私保护政策的规定使用和披露用户信息。同时，51二胎将以高度的勤勉审慎义务对待用户信息。本隐私权保护政策属于51二胎用户服务 协议不可分割的一部分。在使用51二胎提供的服务前，请用户仔细阅读并充分理解以下隐私权保护政策，用户使用51二胎提供的服务即视为用户理解帮同意该隐 私权保护政策。</p>
                                    <h4>一、     用户信息</h4>
                                    <p>51二胎为用户提供对个人注册信息的绝对的控制权，用户在注册时提供的所有信息，都是基于自愿，用户有权在任何时候拒绝提供这些信息。用户可以通过“修改个人信息”查看或修改个人信息。</p>
                                    <h4>二、     用户信息安全</h4>
                                    <p>51二胎将对用户所提供的信息进行严格的管理及保护，51二胎通过技术手段、提供隐私保护服务功能、强化内部管理等办法充分保护用户的个人信息安全。同时， 51二胎将通过向其它服务器备份、对用户密码进行加密等安全措施确保用户信息尽可能不丢失，不被滥用和变造。尽管有前述安全措施，也必须提示用户注意在信息网络上不存在“完美的安全措施”。</p>
                                    <h4>三、     用户信息披露</h4>
                                    <p>51二胎保证不对外公开或向第三方提供用户注册的个人信息，包括用户在使用服务时存储的非公开内容，但下列情况除外：</p>
                                    <ol>
                                        <li>根据有关法律法规的要求；</li>
                                        <li>按照相关政府主管部门的要求；</li>
                                        <li>维护社会个体和公众的安全；</li>
                                        <li>为维护社会公共利益的需要；</li>
                                        <li>维护本网站的合法权益；</li>
                                        <li>事先获得用户的明确授权；</li>
                                        <li>符合其他相关法律法规的要求；</li>
                                    </ol>
                                    <h4>四、     Cookies技术的使用</h4>
                                    <ol>
                                        <li>Cookies是指一种技术，当用户访问设有Cookies装置的51二胎时，51二胎之服务器会自动发送Cookies至用户浏览器内，并储存到用户的电脑硬盘内，此Cookies便负责记录日后该用户到访51二胎的种种活动、个人资料、浏览习惯、消费习惯等。</li>
                                        <li>运用Cookies技术，51二胎能够为用户提供更加细致的个性化服务。51二胎将会运用Cookies追访您的喜好，从而向用户提供感兴趣的信息资料或储存密码，以便用户造访51二胎时不必每次重复输入密码。</li>
                                    </ol>
                                    <p>51二胎可能会不时修改隐私权保护政策，这些修改会反映在本政策中。任何修改都会将用户的满意度及政策的合法性置于重要位置。51二胎鼓励用户在每次访问51二胎的网页时都查阅我们的隐私权保护政策。<br/>有关51二胎的隐私权保护政策有任何意见或建议，请通过电话、传真或邮件直接与51二胎客户服务部门联系。</p>
                                </section>
                        </article>
                    </div>
                </div>
            </div>
            <div class="container" id="customer-service" align="center" style="background-color: #fff;">
                
                <img src="../img/logo-white.png">
                <h3>在线客服</h3>
                <div style="padding: 0 15px;">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes">客服01号</a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2602605151&site=qq&menu=yes">客服02号</a></li>
                </ul>
                </div>
                <p class="color-gray">客服热线</p>
                <p class="color-blue">400-136-5151</p>
            </div>
            <div id="mob-ctm-svc">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2532535151&site=qq&menu=yes"><img src="../img/pic-ctm-svc.png"></a>
            </div>
            <footer>
                <div class="footer-top container">
                    <div class="col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#about">51二胎简介</a></li>
                            <li><a href="about.html#contact">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html#employ">招聘职位</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>网站条款</h4>
                        <ul class="list-unstyled">
                            <li><a href="terms.html#member">会员条款</a></li>
                            <li><a href="terms.html#copyright">版权声明</a></li>
                            <li><a href="terms.html#relief">免责声明</a></li>
                            <li><a href="terms.html#web">网站声明</a></li>
                            <li><a href="terms.html#secret">隐私条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="padding-right:0">
                        <h4>联系我们</h4>
                        <ul class="list-unstyled">
                            <li><a style="cursor: default;">电话 400-136-5151</a></li>
                            <li><a style="cursor: default;">QQ 2532535151</a></li>
                            <li><a style="cursor: default;">QQ 2602605151</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3 footer-qrcode">
                        <h4>微信公众号</h4>
                        <img class="qrcode-img" src="../img/qrcode.jpg">
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="brand-info">
                            <img src="../img/logo-white.png">
                            <p>Copyright &copy; 2015 - 2016, 51二胎&reg;, All Rights Reserved. <a href="http://www.miibeian.gov.cn/">粤ICP备16027439号</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        
    </body>
</html>